.advantages {
    padding: 50px 0;

    background-color: #f0f7ff;
    background-image: url("../img/bg-advantages.png");
    background-repeat: no-repeat;
    background-position:  bottom left;
    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
    &__list {
        margin: 0 15px;
        width: calc(50% - 30px);
        overflow-x: hidden;
    }  
    &__item {
        display: flex;
        position: relative;
    }
    &__item-icon {
        position: absolute;
        top: 0;
        left: 0;
    }
    &__box-text {
        padding-left: 80px;
    }
    &__item-title {
        font-family: "TTNorms-Black";
        font-weight: 900;
        font-size: 18px;
        line-height: 20px;
        color: #314357;

        margin-bottom: 5px;
    }
    &__item-text {
        font-family: "TTNorms-Medium";
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        color: rgba(49, 67, 87, 0.7);

        margin-bottom: 40px;
    }
    &__img-wrapper {
        position: relative;

        height: 100%;
        margin: 0 15px;
        max-width: calc(50% - 30px);
        border-radius: 15px;

        overflow: hidden; 
    }
    &__img-wrapper::after {
        content: "";
        position: absolute;
        right: 50px;
        top: 50%;
        z-index: 2;
        
        width: 50px;
        height: 6px;
        margin-top: 6px;

        background: #00ab88;
        border-radius: 6px;
    }
    &__img-wrapper::before {
        content: "";
        position: absolute;
        left: 50px;
        top: 50%;
        z-index: 2;
        
        width: 50px;
        height: 6px;
        margin-top: 6px;

        background: #00ab88;
        border-radius: 6px;
    }

    &__img-icon {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;

        width: 55px;
        height: 55px;
        transform: translateX(-50%) translateY(-50%);
        background-image: url(../img/icon-advantages.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    &__img-inner {
        display: flex;
    }
    &__card {
        position: relative;
    }
    &__card-text {
        position: absolute;
        bottom: 30px;
        left: 10px;

        font-family: "TTNorms-Bold";
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #fff;

        padding: 0 25px;
    }
}

@media screen and (max-width: 991px) {
    .advantages {
        padding: 25px 0;
        &__inner {
            margin: 0;
        }
        &__list {
            margin: 0;
            width: 100%;
        }
        &__img-wrapper {
            margin: 0 auto;
            max-width: 570px;
        }
    }
}
@media screen and (max-width: 479px) {
    .advantages {
        &__img-wrapper::after {
            display: none;
        }
        &__img-wrapper::before {
            display: none;
        }
        &__card-text {
            bottom: 15px;
            left: 10px;

            font-family: "TTNorms-Bold";
            font-weight: 700;
            font-size: 13px;
            line-height: 15px;
            color: #fff;

            padding: 0px 15px;
        }
        &__item-title {
            font-size: 16px;
        }
        &__item-text {
            font-size: 16px;
            line-height: 20px;

            margin-bottom: 30px;
        }
    }
}
