.advantages {
    padding: 50px 0;

    background-color: #f0f7ff;
    background-image: url("../img/bg-advantages.png");
    background-repeat: no-repeat;
    background-position:  bottom left;
    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 -15px;
    }

    &__list {
        margin: 0 15px;
        width: calc(50% - 30px);
    }  

    &__item {
        display: flex;
        position: relative;
    }

    &__item-icon {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__box-text {
        padding-left: 80px;
    }

    &__item-title {
        font-family: "TTNorms-Black";
        font-weight: 900;
        font-size: 18px;
        line-height: 20px;
        color: #314357;
        margin-bottom: 5px;
    }

    &__item-text {
        font-family: "TTNorms-Medium";
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        color: rgba(49, 67, 87, 0.7);

        margin-bottom: 40px;
    }

    &__img-wrapper {
        position: relative;

        height: 100%;
        margin: 0 15px;
        max-width: calc(50% - 30px);
        border-radius: 15px;

        overflow: hidden; 
    }
    &__img-wrapper::after {
        content: "";
        position: absolute;
        right: 50px;
        top: 50%;
        margin-top: 6px;
        background: #00ab88;
        height: 6px;
        border-radius: 6px;
        z-index: 2;
        width: 50px;
    }
    &__img-wrapper::before {
        content: "";
        position: absolute;
        left: 50px;
        top: 50%;
        margin-top: 6px;
        background: #00ab88;
        height: 6px;
        border-radius: 6px;
        z-index: 2;
        width: 50px;
    }

    &__img-icon {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        width: 55px;
        height: 55px;
        transform: translateX(-50%) translateY(-50%);
        background-image: url(../img/icon-advantages.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__img-top {
    }

    &__img-inner {
        display: flex;
    }

    &__card {
        position: relative;
    }

    &__card-box {
    }

    &__card-text {
        position: absolute;
        bottom: 30px;
        left: 10px;

        font-family: "TTNorms-Bold";
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #fff;

        padding: 0 25px;
    }
}
