.button {
    background: #00ab88;
    border: none;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 55px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    font-family: inherit;
    padding: 20px 50px;
    display: inline-block;
    transition: all 0.2s linear;
    text-align: center;
    white-space: nowrap;
}

.button:hover {
    background: #314357;
    color: #fff;
}

.button--md {
    padding: 15px 30px;
}