@media screen and (max-width: 1170px) {
    .title {
        font-size: 44px;
        line-height: 52px;
    }
    .slider {
        &__box-img {
            height: 550px;
        }
        &__img {
            height: 550px;
        }
        &__title {
            font-size: 44px;
            line-height: 52px;
        }

        &__text {
            font-size: 28px;
            line-height: 32px;
        }
    }
}

@media screen and (max-width: 991px) {
    .title {
        font-size: 36px;
        line-height: 42px;
    }
    .slider {
        &__inner {
            padding: 0;
        }

        &__title {
            font-size: 36px;
            line-height: 44px;
        }

        &__text {
            font-size: 24px;
            line-height: 28px;

            margin-bottom: 30px;
        }

        &__text--price-top {
            font-size: 28px;
            line-height: 36px;
        }
    }

    .why-us {
        padding: 50px 0 40px;
        &__card {
            margin-bottom: 30px;
            width: calc(50% - 30px);
        }
    }

    .advantages {
        padding: 25px 0;
        &__inner {
            margin: 0;
        }
        &__list {
            margin: 0;
            width: 100%;
        }
        &__img-wrapper {
            margin: 0 auto;
            max-width: 570px;
        }
    }
    .info-cat {
        &__main {
            padding: 25px 30px 30px 30px;
        }
        &__price {
            font-size: 32px;
            line-height: 36px;
        }
    }
    .info-dog {
        &__main {
            padding: 25px 15px 30px 15px;
        }
        &__price {
            font-size: 18px;
            line-height: 24px;
        }
    }
}

@media screen and (max-width: 740px) {
    .title {
        font-size: 28px;
        line-height: 32px;

        margin-bottom: 30px;
    }
    .slider {
        &__box-img {
            height: 400px;
        }
        &__img {
            height: 400px;
        }
        &__title {
            font-size: 30px;
            line-height: 36px;
            font-weight: 700;
        }
        &__text {
            font-size: 20px;
            line-height: 24px;

            margin-bottom: 30px;
        }

        &__text--price-top {
            font-size: 20px;
            line-height: 34px;
            font-weight: 700;
        }
    }
    .info-cat {
        &__main {
            padding: 25px 15px 30px 15px;
        }
        &__title {
            font-size: 16px;
            line-height: 19px;
        }
        &__list-title {
            font-size: 14px;
            line-height: 18px;
        }
        &__list {
            font-size: 14px;
            line-height: 18px;

            margin-bottom: 18px;
        }
        &__action {
            flex-wrap: wrap;
            text-align: center;
            flex-direction: column;
        }
        &__price {
            font-size: 18px;
            line-height: 24px;

            width: 100%;
            padding-bottom: 20px;
        }
    }
    .info-dog {
        margin: 10px -10px;
        &__wrapper {
            display: flex;
            width: 100%;
        }
    }
    .about {
        &__container {
            padding: 0;
        }
        &__wrapper {
            flex-direction: column;
        }
        &__box-text {
            width: 97%;
            padding: 30px 15px;
        }
        &__box-img {
            height: 400px;
            width: 100%;
            padding: 0px;
        }
        &__button-box {
            display: none;
        }
    }
}

@media screen and (max-width: 639px) {
    .title {
        font-size: 24px;
        line-height: 28px;

        margin-bottom: 30px;
    }
    .title:before {
        height: 6px;
    }

    .why-us {
        padding: 30px 0 0;
        &__card {
            margin-bottom: 30px;
            width: calc(100% - 30px);
        }
    }
    .price {
        padding: 25px 0 15px 0;
    }
    .info-cat {
        flex-direction: column;
        max-width: 320px;
        &__img-box {
            width: 100%;
            min-height: 180px;
        }
        &__main {
            width: 100%;
            padding: 15px;
        }
    }
}
@media screen and (max-width: 479px) {
    .slider {
        &__inner {
            left: 15px;
        }
        &__title {
            font-size: 21px;
            line-height: 25px;
        }
        &__text {
            font-size: 16px;
            line-height: 20px;
        }

        &__text--price-top {
            font-size: 16px;
            line-height: 20px;
        }
    }
    .button {
        font-size: 18px;
        line-height: 21px;

        padding: 15px 50px;
    }
    .button--md {
        padding: 15px 30px;
    }
    .advantages {
        &__img-wrapper::after {
            display: none;
        }
        &__img-wrapper::before {
            display: none;
        }
        &__card-text {
            bottom: 15px;
            left: 10px;

            font-family: "TTNorms-Bold";
            font-weight: 700;
            font-size: 13px;
            line-height: 15px;
            color: #fff;

            padding: 0px 15px;
        }
        &__item-title {
            font-size: 16px;
        }

        &__item-text {
            font-size: 16px;
            line-height: 20px;

            margin-bottom: 30px;
        }
    }
    .tabs {
        &__triggers-item {
            font-size: 0px;

            width: 139px;
            margin: 0 2px;
        }
        &__triggers-item--cat::before {
            left: 50%;
            transform: translateX(-50%);
        }
        &__triggers-item--dog::before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .info-dog {
        max-width: 320px;
        margin: 0 auto;
        &__wrapper {
            flex-direction: column;
            margin: 0px 0px 10px 0px;
        }
    }
    .about {
        &__box-img {
            height: 300px;
        }
    }
}

@media screen and (max-width: 359px) {
}
